body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: #ebd3e9;
    color: #333;
}

.header {
    background: linear-gradient(270deg, #7ae0e0, #6ab9d1, #55c3df);
    background-size: 600% 600%;
    animation: gradient 10s ease infinite;
    color: #fff;
    text-align: center;
    padding: 40px;
    position: relative;
    overflow: hidden;

}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.foto-entrada {
    position: relative;
    width: 210px;
    height: 210px;
    margin: 30px auto;
    border-radius: 50%;
    border: 4px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.foto-entrada:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.foto-entrada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.heart {
    position: absolute;
    font-size: 14px;
    color: #ff4d6d;
    animation: floatUp 1.5s ease forwards;
    pointer-events: none;
    opacity: 0.8;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-80px) scale(1.6);
    }
}

.bigodinha {
    position: absolute;
    top: 27%;
    left: -100px;
    animation: bigodinha-andando 30s linear infinite;
}

.bigodinha img {
    width: 90px;
}

@keyframes bigodinha-andando {
    0% {
        transform: translateX(0) scaleX(-1);
    }
    49% {
        transform: translateX(45vw) scaleX(-1);
    }
    50% {
        transform: translateX(45vw) scaleX(1);
    }
    100% {
        transform: translateX(0) scaleX(1);
    }
}

.yumi {
    position: absolute;
    top: 56%;
    right: 700px;
}

.yumi img {
    width: 80px;
}

.layout{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.texto{
    width: 60%;
    margin: 40px;
    padding: 40px;
    max-width: 900px;
    text-align: center;
}

.texto p{
    font-size: 18px;
    line-height: 1.6;
    background: #fff0f6;
    color: #5a2a3a;
    padding: 15px 20px;
    margin: 15px 0;
    border-radius: 15px;
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
}

.texto p:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.tema {
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.tema-titulo {
    width: 100%;
    padding: 15px;
    background: #32b6df;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: left;
    transition: background 0.3s;
}

.tema-titulo:hover {
    background: #279dc2;
}

.tema-conteudo {
    max-height: 0;
    overflow-y: auto;
    background: #fff0f6;
    transition: max-height 0.4s ease;
    padding: 0 15px;
    line-height: 2;
    text-align: left;
}

.tema.ativo .tema-conteudo {
    max-height: 300px;
    padding: 15px;
}

.tema-conteudo ul {
    margin: 0;
    padding-left: 20px;
}

.tema-conteudo li::before{
    content: "🐱 ";
}

.container-carrossel {
    width: 40%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrossel{
    width: 95%;
    height: 95vh;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

.carrossel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carrossel img.ativo{
    opacity: 1;
}


.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.seta:hover {
    background: rgba(158, 221, 236, 0.7);
}

.esquerda {
    left: 10px;
}

.direita {
    right: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: #fff;
}

@media (max-width: 768px){

.header {
    padding: 0px;
}

.header, .footer{
    width: 100%;
    text-align: center;
}

.body {
    padding: 0;
    margin: 0;
}

.layout{
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.bigodinha, .yumi {
    width: 30px;
}

.yumi {
    position: absolute;
    top: 56%;
    right: 15%;
}

.texto{
    width: 90%;
    padding: 20px;
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}

.texto h2{
    font-size: 22px;
}

.texto p{
    font-size: 16px;
}

.container-carrossel{
    width: 90%;
    margin: 0 auto;
}

.carrossel{
    height: 60vh;
}

}